# Временные папки Allure
allure-results/
allure-report/

# Зависимости Node.js 
node_modules/
npm-debug.log*

# Локальные отчеты и логи 
newman/
logs/

# Секретные файлы (если в будущем добавишь .env с паролями)
.env

